#dark .non-auth-wrapper{
    background-color:#262626; 
}
.non-auth-wrapper{
    background-color:#4eac6d;
    min-height: 100vh;
}

.auth-logo-section {
    display: flex;
    flex-direction: column;
}
.form-check-input:checked{
    background-color: #4eac6d;
    border: none !important;
}

.form-check-input:focus{
    box-shadow: none;
}

.auth-img {
    position: relative;
    width: 500px;
}

#dark .authentication-page-content {
    background-color: #2e2e2e;
}
.authentication-page-content {
    height: calc(100% - 48px);
    background-color: #fff;
    border-radius: 16px;
    margin: 24px 24px 10px 24px;
}

@media (max-width: 991.98px){
    .auth-logo-section {
        text-align: center;
    }
}

@media (min-width: 992px){
    .auth-logo-section {
        height: 100vh;
    }
}

@media(min-width: 1300px){
    .auth-img {
        width: 600px;
    }
}
