.chats-tab{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

.chats-tab .scroll-view{
    overflow: hidden scroll;
    height: 75vh;
    padding: 0px 10px 20px 10px;
}

.chats-tab .group-create-btn{
   float: right;
   background-color: #8f91982e;
   border: none;
   color: #adb5bd;
   border-radius: 5px;
}

#dark .chats-tab .chat-search{
    background-color: #2e2e2e;
}
.chats-tab .chat-search{
    background-color: #f6f6f9;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

#dark .chats-tab .chat-input{
    background-color: #2e2e2e;
    color: #adb5bd;
}
.chats-tab .chat-input{
    background-color: #f6f6f9;
    border: none;
    font-size: 13px;
    height: 40px;
}

#dark .chats-tab .search-icon{
    color: #adb5bd;
}
.chats-tab .search-icon{
    cursor: pointer;
    color: #2e2e2e;
}

.chats-tab .chat-input:focus{
    box-shadow: 0 0 0 0.1rem #4eac6d79;
}

.added-users{
    background-color: #262626;
    width: 100px;
    border-radius: 10px; 
    color: #ebebeb; 
    font-size: 12px
}

.added-users:hover{
    cursor: pointer;
    background-color: #a54c3c8c;
    width: 100px;
    color: #ebebeb; 
}