
#dark .user-profile-sidebar{
    background-color: #2b2b2b;
}
.user-profile-sidebar{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: block;
    background-color: white;
    color: #8f9198;
    min-width: 380px;
    max-width: 380px
}

.user-profile-sidebar .user-header{
    position: relative;
    min-height: 160px;
}

.user-profile-sidebar .profile-backImg{
    height: 160px;
    object-fit: cover;
    width: 100%;
}

.user-profile-sidebar .profile-overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.5) 10%,transparent 60%,rgba(0,0,0,.5));
    color: hsla(0,0%,100%,.6);
}

#dark .user-profile-sidebar .profile-details{
    border-bottom: 1px solid #5a5a5a82!important;
}
.user-profile-sidebar .profile-details{
    border-bottom: 1px solid #b4b4b482!important;
    padding: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


#dark .user-profile-sidebar .user-details{
    background-color: #262626;
}
.user-profile-sidebar .user-details{
    background-color: #f6f6f9;
    padding: 15px 20px;
    border-radius: 5px;
}

.user-profile-sidebar .add-users-btn{
    padding:10px 15px;
    background-color:#4eac6d;
    border-radius:50%;
    color: white;
}

@media (max-width: 1199.98px){
    .user-profile-sidebar{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 99;
    }
}
