.loading-container .logo {
    max-width: 150px;
    animation: key1 .7s ease infinite alternate;
}

@keyframes key1 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}