.profile-tab{
    font-family: 'Poppins', sans-serif;
}

.profile-tab .profile-header{
    position: relative;
    z-index: 1;
}

.profile-tab .profile-backImg{
    height: 160px;
    object-fit: cover;
    width: 100%;
}

.profile-tab .profile-header-text{
    z-index: 1;
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 15px;
    font-weight: 500;
    color: white;
    z-index: 1;
}

.profile-tab .profile-overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.5) 10%,transparent 60%,rgba(0,0,0,.5));
    color: hsla(0,0%,100%,.6);
}

#dark .profile-tab .profile-image{
    border-bottom: 1px solid #2e2e2e; 
}
.profile-tab .profile-image{
    position: relative;
    z-index: 1;
    margin-top: -56px !important;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border-bottom: 1px solid #f1f1f1;
}

#dark .profile-tab .profile-thumbnail{
    background-color: #262626;
}
.profile-tab .profile-thumbnail{
    background-color: white;
    padding: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.profile-tab .profile-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
