.welcome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome .middle-icon{
    background-color: #4eac6d33!important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.welcome .middle-content{
    margin-top: 20px;
    text-align: center;
    width: 50%;
}