.settings-tab{
    font-family: 'Poppins', sans-serif;
}

.settings-tab .settings-header{
    position: relative;
    z-index: 1;
}

.settings-tab .settings-backImg{
    height: 160px;
    object-fit: cover;
    width: 100%;
}

.settings-tab .settings-header-text{
    z-index: 1;
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 15px;
    font-weight: 500;
    color: white;
}

.settings-tab .settings-overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg,rgba(0,0,0,.5) 10%,transparent 60%,rgba(0,0,0,.5));
    color: hsla(0,0%,100%,.6);
}

#dark .settings-tab .settings-image{
    border-bottom: 1px solid #2e2e2e; 
}
.settings-tab .settings-image{
    position: relative;
    z-index: 3;
    margin-top: -56px !important;
    align-items: center;
    justify-content: center;
    margin: 0px;
    border-bottom: 1px solid #f1f1f1;
}

#dark .settings-tab .settings-thumbnail{
    background-color: #262626;
}
.settings-tab .settings-thumbnail{
    background-color: white;
    padding: 5px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.settings-tab .settings-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.settings-tab .settings-details{
    height: calc(100vh - 300px);
    padding: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.settings-tab .settings-details-wrapper{
    overflow: hidden scroll;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;

}

#light .accordion-button{
    background-color: #fff;
    color: #495057 ;
}

.accordion-button{
    background-color: #262626;
    color: #adb5bd;
    font-size: 13px;
}

.accordion-button:focus{
    box-shadow: none;
}

#light .accordion-button:not(.collapsed){
    background-color: #f6f6f9b3;
}
.accordion-button:not(.collapsed) {
    background-color: #2e2e2e;
    color: #adb5bd;
}

#light .accordion-item{
    border-color: #f2f2f2 !important;
}
.accordion-item {
    border-left: none;
    border-color: #2e2e2e !important;
    border-right: none;
    border-radius:0px !important;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius:0px;
    border-bottom-left-radius: 0px;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#light .accordion-body{
    background-color: white !important;
}

.accordion-body{
    background-color: #262626 !important;
    color: #adb5bd;
    font-size: 12px;
}

.personal-info .edit-button{
    border-radius: 5px;
    float: right;
    padding-top: 8px;
    text-align: center;
    color: #4eac6d;
    background-color: #4eac6d1a;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.primary-button{
    font-size: 14px;
}

.secondary-button, .secondary-button:hover{
    font-size: 14px;
    background-color: transparent;
    color: #4eac6d;
    border: none;
}

.profile-thumbnail{
    background-color: #495057;
    padding: 5px;
    height: 110px;
    width: 110px;
    border-radius: 50%;
}
.profile-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
